<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mervyn.sparrow.system.mapper.SysDeptMapper">

    <resultMap id="BaseResultMap" type="com.mervyn.sparrow.system.model.SysDept">
            <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_dept
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_dept
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mervyn.sparrow.system.model.SysDept" useGeneratedKeys="true">
        insert into sys_dept
        ( id)
        values (#{id,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mervyn.sparrow.system.model.SysDept" useGeneratedKeys="true">
        insert into sys_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mervyn.sparrow.system.model.SysDept">
        update sys_dept
        <set>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mervyn.sparrow.system.model.SysDept">
        update sys_dept
        set 
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
